body{
    background-color: #7a91bd;
}
.container{
    text-align: center;
    margin-top: 25px;
}
table{
    margin: auto;
    margin-bottom: 10px;
}
input{
    border-radius: 16px;
    border: 5px solid #7a91bd;
    font-size: 35px;
    height: 104px;
    margin: 19px 19px;
}
button{
    border-radius:90%;
    font-size: 34px;
    background-color:#1B1F3B;
    color:#BCBD8B;
    width: 86px;
height: 75px;
margin: 1px 3px;

}
button:hover{
    background-color: #ffffff;
    color: #1B1F3B;

}
.calculator{
    background: #364156;
    display: inline-block;
    border-radius: 15px;
}
.btn{
    background-color: #BCBD8B ;
    color: #1B1F3B;
}